table{
    border-color: #ccc;
    width: 100%;
    border-collapse: collapse;

}

td, th {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 8px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}
thead{
    background: #f6f6f6;
    padding: 0;
    white-space: nowrap;
    vertical-align: middle;
}

table thead th {
    padding: 0;
    white-space: nowrap;
    vertical-align: middle;
}
.pagination{
    text-align:center
 }