 {% load range %}
<table id="alternatecolor" class="altrowstable">
{% if lecture_list %}

 <thead>
<tr>
<th>Title</th>
<th>Speaker</th>
<th>Time</th>
<th>Place</th>
<th>University</th>
<th>Updata time</th>

</tr>
</thead>

    {% for lecture in lecture_list %}
    <tr >
        <th class="field-title"><a href ={{ lecture.link }} >{{ lecture.title }}</a></th>
        <td class="field-speaker">{{ lecture.speaker }}</td>
        <td class="field-time nowrap">{{ lecture.time|date:"Y-m-d H:i" }}.</td>
        <td class="field-place">{{ lecture.place }}</td>
        <td class="field-university">{{ lecture.university }}</td>
        <td class="field-update_time nowrap">{{ lecture.update_time|date:"Y-m-d" }}</td>

    </tr>

    {% endfor %}
</table>

    <div class="pagination">
    <span class="step-links">
        {% if lecture_list.has_previous %}
            <a href="#toolbar" onclick="getContent({{ lecture_list.previous_page_number }})">上一页</a>
        {% else %}
            <span style="visibility:hidden;">下一页</span>
        {% endif %}

        <span class="num">
        {% for num in lecture_list.paginator.num_pages|get_range %}
            {% if num != lecture_list.number %}
                <a href="#toolbar" onclick="getContent({{ num }})">{{ num }}</a>
            {% else %}
                {{ num }}
            {% endif %}
        {% endfor %}
        </span>
        {% if lecture_list.has_next %}
            <a href="#toolbar" onclick="getContent({{ lecture_list.next_page_number }})">下一页</a>
        {% else %}
            <span style="visibility:hidden;" >下一页</span>
        {% endif %}
    </span>
</div>

{% else %}
    </table>
    <p>No data are available.</p>

{% endif %}